<!DOCTYPE html>
 <html>
     <head>
      <meta charset="UTF-8">
      <title>AC3 Login</title>
      <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
	  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Login.css">
     <!-- <script src="../../static/ac3app/jqplot/jquery.min.js"></script>
      <script type="text/javascript" src="../../static/ac3app/scripts/Login.js"></script> -->
     </head>
     <Center>
		<form id="login_form" method="post" action="/ac3app/login/" autocomplete="off">
         <body bgcolor='#3488C4'>
		<div class="login">
         <img src="../../static/ac3app/images/AC3-logo.png" align="center" style="width:304px;height:228px">
          <h1>{{ user.username }} Password Reset</h1>
		  <table bgcolor='white' align="center">
		  <tbody>
            Temporary Password: <input type="text" name="tPassword" value="" size="50" />
            <br />
            New Password: <input type="password" name="password" value="" size="50" />
            <br />
            Confirm Password: <input type="password" name="cpassword" value="" size="50" />
            <br />
            <input type="submit" name="savepassword" value="Submit" />
		  </tbody>
		  </table>
		</div>
         </body>
		</form>
     </Center>
 </html>
