<!DOCTYPE html>
 <html>
     <head>
      <meta charset="UTF-8">
      <title>AC3 Login</title>
      <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
	  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Login.css">
     <!-- <script src="../../static/ac3app/jqplot/jquery.min.js"></script>
      <script type="text/javascript" src="../../static/ac3app/scripts/Login.js"></script> -->
     </head>
     <Center>
		<form id="login_form" method="post" action="." autocomplete="off">
            {% csrf_token %}
         <body bgcolor='#3488C4'>
		<div class="login">
         <img src="../../static/ac3app/images/AC3-logo.png" align="center" style="width:304px;height:228px">
          <h1>User: <label>{{ user.username }}</label> Password Reset</h1>
		  <table bgcolor='white' align="center">
              <tr><td>New Password: </td><td>{{ form.nPassword }}</td></tr>
              <tr><td>Confirm Password: </td><td>{{ form.cPassword }}</td></tr>
		  </tbody>
		  </table>
          <input type="submit" value="Save and Return to Login"/><br>
          <div>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{{ message }}
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{{ message }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
		</div>
         </body>
		</form>
     </Center>
 </html>
