<!DOCTYPE html>
<html>
<head lang="en">
  <title>AC3 Profile</title>
  <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
  <script src="../../static/ac3app/jqplot/jquery.min.js"></script>
  <script src="../../static/ac3app/scripts/Profile.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Profile.css">
</head>
<table class="header" width="100%">
<tr>
<td><img src="../../static/ac3app/images/AC3-logo.png" align="left" style="width:100px;height:100px"></td>
    {% if user.is_authenticated %}
        <td align="center"><font size="8"><bold>Welcome {{ user.username }}</bold></font></td>
    {% else %}
        <td align="center"><font size="8"><bold>Welcome Unknown User</bold></font></td>
    {% endif %}
    <td align="center">
        <a class="link" href="{% url 'main_view' %}">Main View</a><a class="link" href="{% url 'logout' %}">Logout</a>
    </td>
</tr>
</table>
<body bgcolor='#3488C4'>
<form action='#'>
<Center>
<div class="profile">
<table>
<caption><bold><font size="6" color="blue">Profile Information</font></bold></caption>
<tr><td>User ID: </td><td><label class="info">{{ user.id }}</label></td></tr>
<tr><td>Privilege Level: </td><td><label class="info">{{ user.is_staff }}</label></td></tr>
<tr><td>First name: </td><td><label class="info">{{ user.first_name }}</label><input class="edit" type="text" name="firstname"/></td></tr>
<tr><td>Last name: </td><td><label class="info">{{ user.last_name }}</label><input class="edit" type="text" name="lastname"/></td></tr>
<tr><td>User name: </td><td><label class="info">{{ user.username }}</label><input class="edit" type="text" name="username"/></td></tr>
<tr><td>Password: </td><td><label class="info">Hidden</label><input class="edit" type="text" name="password"/></td></tr>
<tr><td>Email: </td><td><label class="info">{{ user.email }}</label><input class="edit" type="text" name="email"/></td></tr>
<tr><td>Phone Number: </td><td><label class="info">77635124554</label><input class="edit" type="text" name="phonenumber"/></td></tr>
</table>
<div style="margin-top: 5%"><input id="bEdit" type="submit" value="Edit"/><input type="submit" value="Save Changes"/></div>
</div>
</Center>
</form>
</body>
</html>