<!DOCTYPE html>
<html>
<head lang="en">
  <title>AC3 Profile</title>
  <link rel="SHORTCUT ICON" href="../../static/ac3app/images/AC3-logo.ico">
  <script src="../../static/ac3app/jqplot/jquery.min.js"></script>
  <script src="../../static/ac3app/scripts/Profile.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/ac3app/stylesheets/Profile.css">
</head>
<table class="header" width="100%">
<tr>
<td><img src="../../static/ac3app/images/AC3-logo.png" align="left" style="width:100px;height:100px"></td>
    {% if user.is_authenticated %}
        <td align="center"><font size="8"><bold>User: <label>{{ user.username }}</label></bold></font></td>
    {% else %}
        <td align="center"><font size="8"><bold>Welcome Unknown User</bold></font></td>
    {% endif %}
    <td align="center">
        <a class="link" href="{% url 'main_view' %}"><button>Main View</button></a><a class="link" href="{% url 'logout' %}"><button>Logout</button></a>
    </td>
</tr>
</table>
<body bgcolor='#3488C4'>
<form action='.' method="post">
    {% csrf_token %}
<Center>
<div class="profile">
<table>
<caption><bold><font size="6" color="blue">Profile Information</font></bold></caption>
<tr><td>User Name: </td>
{% if user.is_staff %}
    <td><select>
        <option value="{{ user.username }}" selected>{{ user.username }}</option>
    {% for u in userslist %}
        {% if u.username != user.username %}<option value="{{ u.username }}">{{ u.username }}</option>{% endif %}
    {% endfor %}
    </select></td>
{% else %}
    <td>{{ user.username }}</td>
{% endif %}</tr>

<tr><td>User ID: </td><td>{{ user.id }}</td></tr>
<tr><td>Is Staff: </td><td>{{ user.is_staff }}</td></tr>
<tr><td>First name: </td><td><label class="info">{{ user.first_name }}</label><input class="edit" type="text" name="firstname" value="{{ user.first_name }}"/></td></tr>
<tr><td>Last name: </td><td><label class="info">{{ user.last_name }}</label><input class="edit" type="text" name="lastname" value="{{ user.last_name }}"/></td></tr>
<tr><td>User Pin: </td><td><label class="info">{{ userProfile.user_pin }}</label><input class="edit" type="text" name="userpin" value="{{ userProfile.user_pin }}"/></td></tr>
<tr><td>Password: </td><td>*******<a class="link" href="{% url 'new_password' %}">Change Password</a></td></tr>
<tr><td>Email: </td><td><label class="info">{{ user.email }}</label><input class="edit" type="text" name="email" value="{{ user.email }}"/></td></tr>
<tr><td>Phone Number: </td><td><label class="info">{{ userProfile.phone_number }}</label><input class="edit" type="text" name="phonenumber" value="{{ userProfile.phone_number }}"/></td></tr>
</table>
<div style="margin-top: 5%">
    <button class="info" id="bEdit" onclick="return false">Edit</button>
    <input class="edit" type="submit" value="Save Changes"/>
</div>
</div>
</Center>
</form>
</body>
</html>